{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
<h1>Autoservice Orders:</h1>
{% for order in orders %}
<a href="{% url 'order' order.pk %}"><strong>License Plate: </strong> {{ order.vehicle.license_plate }}</li></a>
    <strong>Deadline: </strong> {{ order.due_date }}</li>
    <hr/>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}